<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="/thinkphp5/public/static/css/common.css" />
    <link rel="stylesheet" href="/thinkphp5/public/static/css/mystyle1.css" />
</head>
<body>
<h2>用户登录</h2>
<div class="info">
    {empty name="Think.session.user.username"}
    <div class="welcome">
        <a href="{:url('index/user/login')}">登陆</a>
        <a href="{:url('index/user/register')}">注册</a>
    </div>
    {else/}
    <div class="welcome">欢迎您！{$Think.session.user.username} </div>
    <div class="funclist">
        <a href="{:url('index/user/cart')}">查看购物车</a>
        (当前包含<span class="count">{$count}</span>种商品)
        <a href="{:url('index/user/logout')}">退出登陆</a>

    </div>
    {/empty}
</div>
<div class="main">
    <div class="categorylist">
        {volist name="catlist" id="catitem" }
        <div class="category">
            <img src="/thinkphp5/public/static/commimages/heart.png" alt="" class="littleimg">
            <a href="{:url('index/index?cid='.$catitem['categoryid'])}">{$catitem.name}</a>
        </div>
        {/volist}
    </div>
    <div id="content">
        <form action="{:url('index/user/dologin')}" method="post">
            <table>
                <tr>
                    <td class="ttd"><label for="username">用户名</label></td>
                    <td><input type="text" name="username" id="username" required></td>
                </tr>
                <tr>
                    <td class="ttd"><label for="password">密码</label></td>
                    <td><input type="password" name="password" id="password" required></td>
                </tr>
                <tr>
                    <td class="ttd">用户类型</td>
                    <td>
                        <input type="checkbox" name="admin" value="admin" />管理员
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button>登陆</button>
<!--                        <botton type="reset">重置</botton>-->
                        <input type="reset" value="重置" class="myreset">
                    </td>

                </tr>
            </table>
        </form>
        <p class="p1" >
            <a href="{:url('index/user/register')}">没有账号？点击注册</a>
        </p>
    </div>
</div>
</body>
</html>