<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="/thinkphp5/public/static/css/common.css" />
    <link rel="stylesheet" href="/thinkphp5/public/static/css/mystyle1.css" />
</head>
<body>
<h2>修改密码</h2>
{include file="index/admindivinfo" /}
<div class="main">
    <div class="categorylist">
        <div class="category">
            <img src="/thinkphp5/public/static/commimages/btnnodeFunction.png" alt="" class="littleimg">
            <a href="{:url('index/addproduct')}">新增宠物</a>
        </div>
        <div class="category">
            <img src="/thinkphp5/public/static/commimages/btnnodeFunction.png" alt="" class="littleimg">
            <a href="{:url('index/prodlist')}">编辑宠物</a>
        </div>
        <div class="category">
            <img src="/thinkphp5/public/static/commimages/btnnodeFunction.png" alt="" class="littleimg">
            <a href="{:url('index/adduser')}">新增用户</a>
        </div>
        <div class="category">
            <img src="/thinkphp5/public/static/commimages/btnnodeFunction.png" alt="" class="littleimg">
            <a href="{:url('index/userlist')}">编辑用户</a>
        </div>
    </div>
    <div id="content">
        <form action="{:url('doresetpassword')}" method="post">
            <table>
                <tr>
                    <td class="ttd"><label for="username">新密码</label></td>
                    <td><input type="password" name="pass1" id="username" required></td>
                </tr>
                <tr>
                    <td class="ttd"><label for="truename">确认密码</label></td>
                    <td><input type="password" name="pass2" id="truename" required></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button>提交</button>
                        <button type="reset">重置</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>