<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/thinkphp5/public/static/css/common.css" />
    <link rel="stylesheet" href="/thinkphp5/public/static/css/mystyle4.css">
</head>
<body>
<h2>宠物详情</h2>
<div class="info">
    {empty name="Think.session.user.username"}
    <div class="welcome">
        <a href="{:url('index/user/login')}">登录</a>
        <a href="{:url('index/user/register')}">注册</a>
    </div>
    {else/}
    <div class="welcome">欢迎您！{$Think.session.user.username}</div>
    <div class="funclist">
        {neq name="count" value="0"}
        <a href="{:url('index/index.checkout')}">结算订单</a>
        {/neq}
        <a href="{:url('index/index/index')}">宠物列表</a>
        <a href="{:url('index/index/favorite')}">我的收藏</a>
        <a href="{:url('index/user/cart')}">查看购物车</a>
        (当前包含<span class="count">{$count}</span>种商品)
        <a href="{:url('index/user/logout')}">退出登录</a>
    </div>
    {/empty}
</div>
<div class="main">
    <div class="categorylist">
        {volist name="catlist" id="catitem" }
        <div class="category">
            <img src="/thinkphp5/public/static/commimages/heart.png" alt="" class="littleimg">
            <a href="{:url('index?cid='.$catitem['categoryid'])}">{$catitem.name}</a>
        </div>
        {/volist}
    </div>
    <div id="content">
        <div class="prodlist">
            <div class="leftcontent">
                <table>
                    <tr>
                        <td width="205">
                            <img src="/thinkphp5/public/static/{$list.image}" alt="{$list.productname}" class="proimg">
                        </td>
                        <td width="100"><p class="ptitle">{$list.productname}</p></td>
                        <td>单价：{$list.unitprice}元<br/>
                            描述：{$list.pdescn}<br /></td>
                    </tr>
                </table>
            </div>
            <div class="subinforight">
                <a href="{:url('addprodtocart?pid='.$list['productid'])}" >
                    <img src="/thinkphp5/public/static/commimages/button-cart.gif" alt="放入购物车" class="cart">
                </a>
                <a href="{:url('addprodtofavorite?pid='.$list['productid'])}">
                    <img src="/thinkphp5/public/static/commimages/button-wishlist.gif" alt="我的最爱" class="littleimg">
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>